In [1]:
import pandas as pd
import numpy as np

In [2]:
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,["A","B"])

In [6]:
df

             A         B
G1 1 -1.174576 -0.967701
   2 -0.646766 -1.212240
   3 -0.009589 -2.762069
G2 1 -2.178171  3.127026
   2  0.822015 -1.094679
   3  0.471359 -0.568131

In [7]:
df.loc["G1"]

          A         B
1 -1.174576 -0.967701
2 -0.646766 -1.212240
3 -0.009589 -2.762069

In [10]:
df.loc["G1"].loc[2].loc["A"]

-0.6467656880441277

In [11]:
df

             A         B
G1 1 -1.174576 -0.967701
   2 -0.646766 -1.212240
   3 -0.009589 -2.762069
G2 1 -2.178171  3.127026
   2  0.822015 -1.094679
   3  0.471359 -0.568131

In [12]:
df.xs("G1")

          A         B
1 -1.174576 -0.967701
2 -0.646766 -1.212240
3 -0.009589 -2.762069