# Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ["a","b","c"]
my_data = [100,200,300]
arr = np.array(my_data)
dic = {"a":1,"b":2,"c":3}

In [4]:
pd.Series(data = my_data)

0    100
1    200
2    300
dtype: int64

In [5]:
pd.Series(data= my_data,index = labels)

a    100
b    200
c    300
dtype: int64

# DataFrames

In [6]:
df = pd.DataFrame(np.random.randn(3,4),["A","B","C"],["X","Y","Z","C"])

In [7]:
df

          X         Y         Z         C
A -1.435125 -0.557846  1.387811 -0.624905
B  0.066815 -1.357416 -0.350847 -1.079574
C -1.114210 -0.072775  1.033531 -1.069602

In [8]:
df["X"]

A   -1.435125
B    0.066815
C   -1.114210
Name: X, dtype: float64

In [9]:
df[["X","Y"]]

          X         Y
A -1.435125 -0.557846
B  0.066815 -1.357416
C -1.114210 -0.072775

In [10]:
df["new"] = df["X"] + df["Y"]

In [11]:
df

          X         Y         Z         C       new
A -1.435125 -0.557846  1.387811 -0.624905 -1.992971
B  0.066815 -1.357416 -0.350847 -1.079574 -1.290601
C -1.114210 -0.072775  1.033531 -1.069602 -1.186985

In [12]:
df.drop("new",axis=1,inplace=True)

In [13]:
df

          X         Y         Z         C
A -1.435125 -0.557846  1.387811 -0.624905
B  0.066815 -1.357416 -0.350847 -1.079574
C -1.114210 -0.072775  1.033531 -1.069602

In [14]:
df.drop("C")

          X         Y         Z         C
A -1.435125 -0.557846  1.387811 -0.624905
B  0.066815 -1.357416 -0.350847 -1.079574

In [15]:
df.shape

(3, 4)

In [16]:
df

          X         Y         Z         C
A -1.435125 -0.557846  1.387811 -0.624905
B  0.066815 -1.357416 -0.350847 -1.079574
C -1.114210 -0.072775  1.033531 -1.069602

In [17]:
df.loc["A"]

X   -1.435125
Y   -0.557846
Z    1.387811
C   -0.624905
Name: A, dtype: float64

In [18]:
df.iloc[2]

X   -1.114210
Y   -0.072775
Z    1.033531
C   -1.069602
Name: C, dtype: float64

In [19]:
df.loc["C","X"]

-1.1142097358601437

In [20]:
df["X"] > 0

A    False
B     True
C    False
Name: X, dtype: bool

In [22]:
df[df["X"]>0]

          X         Y         Z         C
B  0.066815 -1.357416 -0.350847 -1.079574

In [24]:
df[df["X"]>0 & df["Y"]> 0]

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [28]:
newind = "CA NY WR".split()

In [29]:
newind

['CA', 'NY', 'WR']

In [30]:
df["States"] = newind

In [31]:
df

          X         Y         Z         C States
A -1.435125 -0.557846  1.387811 -0.624905     CA
B  0.066815 -1.357416 -0.350847 -1.079574     NY
C -1.114210 -0.072775  1.033531 -1.069602     WR